<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-gray-800 text-white p-4">
        <div class="container mx-auto">
            <h1 class="text-2xl font-semibold">{{chatbot.name}}</h1>
        </div>
    </header>
    
    <div class="container mx-auto p-4 mt-4">
        <div>
            <form method="post">
                {% csrf_token %}

                <div>
                    <h2>Chatbot Information</h2>
                </div>
                <div>
                    {{ chatbot_form.as_table }}
                </div>
                <div>
                    <button type="submit">Save</a></button>
                </div>
            </form>
            <div>
                <p>👍: {{ chatbot.likes }}</p>
                <p>👎: {{ chatbot.dislikes }}</p>  
            </div>
        </div>
        {% if data_forms %}
            <div>
                <form method="post" action="{% url 'edit_chatbot_data' chatbot_id=chatbot.id %}">
                    {% csrf_token %}
            
                    {% for form in data_forms %}
                        <div class="mb-4">
                            <input type="text" id="chatbot_data_{{form.id}}" name="chatbot_data_{{form.id}}" class="w-full border rounded py-2 px-3" placeholder="Enter data" value="{{ form.data }}" required>
                        </div>
                        <input type="hidden" name="form_id" value="{{form.id}}">
                        <button type="submit">Save</button>
                    {% endfor %}
                    </form>
            </div>
        {% endif %}
        <div>
            <form method="post" action="{% url 'create_new_data' chatbot_id=chatbot.id %}"">
                {% csrf_token %}
                
                <input type="text" name="chatbot_data" id="chatbot_data">
                <button type="submit">Save</button>
            </form>
        </div>
        <div>
            <button type="submit"><a href="{% url 'mychatbots_list' user_id=chatbot.owner.id%}">Back</a></button>
        </div>
    </div>
</body>
</html>