<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Details</title>
</head>
<body>
    <h1>Chatbot Details</h1>
    
    <form method="post">
        {% csrf_token %}
    
        <h2>Chatbot Information</h2>
        {{ chatbot_form.as_table }}

        <button type="submit">Save</a></button>
    </form>

    <p>Chatbot likes: {{ chatbot.likes }}</p>
    <p>Chatbot dislikes: {{ chatbot.dislikes }}</p>
    

    {% if data_forms %}
        <form method="post" action="{% url 'edit_chatbot_data' chatbot_id=chatbot.id %}">
        {% csrf_token %}

        {% for form in data_forms %}
            <div class="mb-4">
                <input type="text" id="chatbot_data_{{form.id}}" name="chatbot_data_{{form.id}}" class="w-full border rounded py-2 px-3" placeholder="Enter data" value="{{ form.data }}" required>
            </div>
            <input type="hidden" name="form_id" value="{{form.id}}">
            <button type="submit">Save</button>
        {% endfor %}
        </form>
    {% endif %}


    <form method="post" action="{% url 'create_new_data' chatbot_id=chatbot.id %}"">
        {% csrf_token %}
        
        <input type="text" name="chatbot_data" id="chatbot_data">
        <button type="submit">Save</button>
    </form>

    <button type="submit"><a href="{% url 'mychatbots_list' user_id=chatbot.owner.id%}">Cancel</a></button>

</body>
</html>