<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Details</title>
</head>
<body>
    <h1>Chatbot Details</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    
        <h2>Chatbot Information</h2>
        {{ chatbot_form.as_table }}
    
        <h2>Chatbot Data</h2>
        {% for chatbot_data_form in chatbot_data_forms %}
            {{ chatbot_data_form.as_table }}
            <button type="submit" name="submitted_form_prefix" value="{{ chatbot_data_form.prefix }}">Save</button>
        {% endfor %}

        <button type="submit"><a href="{% url 'mychatbots_list' user_id=user_id%}">Cancel</a></button>
        
    </form>
</body>
</html>