<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{chat.title}}</title>
</head>
<body>
    <h1>{{chat.title}}</h1>

    {% for message in messages %}
        {% if message.user_message %}
            <h5>User:</h5>
            <p>{{message.text}}</p>
        {% else %}
            <h5>Chatbot:</h5>
            <p>{{message.text}}</p>
        {% endif %}
    {% endfor %}
</body>
</html>