<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{chat.title}}</title>
</head>
<body>
    <h1>{{chat.title}}</h1>

    {% for message in messages %}
        {% if message.user_message %}
            <h5>User:</h5>
            <p>{{message.text}}</p>
        {% else %}
            <h5>Chatbot:</h5>
            <p>{{message.text}}</p>
            <a href="{% url 'like_dislike' is_like=1 chat_id=chat.id message_id=message.id%}">Like</a>
            <a href="{% url 'like_dislike' is_like=0 chat_id=chat.id message_id=message.id%}">Dislike</a>
        {% endif %}
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="UserMessage" class="block text-gray-600">Message</label>
            <input type="text" id="usermessage" name="usermessage" class="w-full border rounded py-2 px-3" placeholder="Message" required>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">></button>
    </form>
</body>
</html>