<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbots List</title>
</head>
<body>
    {% for chatbot in chatbots %}
        {% if chatbot.is_enable %}
            <li><a href="{% url 'chat_history' user_id=user.id chatbot_id=chatbot.id %}">{{ chatbot.name }}</a></li>
        {% else %}
            <li>{{ chatbot.name }} - !!Chatbot Is Not Enable!!</li>
        {% endif %}
    {% endfor %}
</body>
</html>