<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbots List</title>
</head>
<body>
    <label for="NewChatbot" class="block text-gray-600">NewChatbot</label>
    <button type="submit"><a href="{% url 'create_newchatbot' user_id=user_id %}">+</a></button>
    <br/>

    {% for chatbot in chatbots %}
        <li><a href="{% url 'chatbot_detail' chatbot_id=chatbot.id %}">{{ chatbot.name }}</a></li>
    {% endfor %}
</body>
</html>